name: 3l-action
 
on:
  # push:
  #   branches: [ master ]
  # pull_request:
  #   branches: [ master ]
  schedule:
    - cron: '0 14,22 * * *'
  watch:
    types: started

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: node 3l.js
      env:
       USER: ${{secrets.USER}} 
       PSW: ${{secrets.PSW}}
       S_KEY: ${{secrets.KEY}}
